body {
  background-color: black;
      color: palegoldenrod;
  margin: 4px;
}

#header {
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  height: 125px;
 line-height: 3px;
  color: white;
  background-color: darkolivegreen;
  padding-top:10px;
  text-align: center;
  font-size: 20px;
    font-style: italic;
    margin-bottom: 4px;
}

#header-title {
    color: greenyellow;
  border: 5px dotted black;
  border-radius: 40px 40px 40px 40px;
  text-align: center;
  margin: 5px;
  font-size: 20px;
    padding-bottom: 5px;
}

#header-title h1{
    text-transform: uppercase;
    text-decoration: underline;
}

#content {
Font-size: 26px;

}


#form-info {
box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  background-color: darkKhaki;
    color: darkolivegreen;
    font-size: 25px;
    line-height: 28px;
    text-align: center;
    padding: 5px;
    
}

#form-note {
    text-align: center;
    color: greenyellow;
    background-color: darkolivegreen;
    font-size:30px;
    font-weight: bold;
    border: 10px dotted olive;
    text-transform: uppercase;
    padding: 5px;
}


#form-buttons input {
    background-color: greenyellow;
    color: black;
    border: 5px outset olive;
    font-weight: bold;
    font-size: 25px;
    display: block;
    float: center;
}

#footer {
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(85,107,47,0); 
box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(85,107,47,0);
    background-color: darkOliveGreen;
    margin-top:4px;
    color: palegoldenrod;
    text-align: center;
    height: 100px;
    line-height: 5px;
    font-size: 40px;
    padding: 30px;
   
}